* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: #ebeef7;
  color: #161616;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
/* Width of vertical scroll bar*/
width: 8px;
/* Height of horizontal scroll bar*/
height: 10px;

}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #bfc0c4;
}